
section {
    width: 90%;
    background: lightblue;
    margin: 0 auto;
    overflow: auto;
    box-shadow: 1px 1px 1px #ccc;
    max-width: 1024px;
    font-size: 130%;
}
header {
    float: left;
    width: 20%;
    
}
.main {
    width: 80%;
    float: right;
    background: #fff;
    box-sizing: border-box;
    padding-left: 20px;
}
.sidebar h1 {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-size: 200%;



}